<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <clouds>
    <com.nirima.jenkins.plugins.docker.DockerCloud plugin="docker-plugin@0.16.2">
      <name>dockerHost</name>
      <templates>
        <com.nirima.jenkins.plugins.docker.DockerTemplate>
          <configVersion>2</configVersion>
          <labelString>biz-slave</labelString>
          <launcher class="com.nirima.jenkins.plugins.docker.launcher.DockerComputerSSHLauncher">
            <sshConnector plugin="ssh-slaves@1.11">
              <port>22</port>
              <credentialsId>38b486c6-27e5-4aa6-bbd0-2aa3ec2d8c90</credentialsId>
            </sshConnector>
          </launcher>
          <remoteFs>/home/jenkins</remoteFs>
          <instanceCap>1</instanceCap>
          <dockerTemplateBase>
            <image>biz/jenkinsslave</image>
          </dockerTemplateBase>
        </com.nirima.jenkins.plugins.docker.DockerTemplate>
      </templates>
      <serverUrl>tcp://192.168.99.100:2376</serverUrl>
      <credentialsId>19773790-ccca-4b26-a7d2-68a066ef4241</credentialsId>
      <containerCap>100</containerCap>
    </com.nirima.jenkins.plugins.docker.DockerCloud>
  </clouds>
</hudson>
